---
import { cn } from "@/lib/utils";

const { className } = Astro.props;
---

<div
  class={cn(
    "container flex items-center justify-center w-full pb-2 lg:pb-5",
    className
  )}
>
  <slot />
</div>
