---
import Container from "@/components/Container.astro";
import Navbar from "@/components/Navbar.astro";
import "@fontsource-variable/noto-sans";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Ready-to-use beautiful tech stack icon components for developers"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/developer-icons/docs/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-zinc-300 bg-zinc-900 min-h-screen">
    <Navbar />
    <Container>
      <slot />
    </Container>
  </body>
</html>
