---
import UnderDevelopment from "@/components/UnderDevelopment.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Icons | Developer Icons">
  <main
    class="w-full h-[calc(100vh-78px)] px-12 flex flex-col justify-center items-center gap-6"
  >
    <UnderDevelopment />
  </main>
</Layout>
