---
import Navbar from "@/components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Developer Icons">
  <main>
    <Navbar />
  </main>
</Layout>
