---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/LandingSection";
import "@/styles/globals.css";
---

<Layout title="Developer Icons">
  <main class="w-full px-12">
    <HeroSection />
  </main></Layout
>
