---
import {
  Fingerprint,
  PackageOpen,
  Pickaxe,
  Scaling,
  Shapes,
  ShieldCheck,
} from "lucide-react";

const features = [
  {
    title: "Highly Optimized",
    desc: "Icons are optimized for performance and size. They are designed to be as small as possible while maintaining the quality.",
  },
  {
    title: "Customizable",
    desc: "Cusomizations are available for all icons. You can change the size, color, stroke width, and much more.",
  },
  {
    title: "Perfectly Scalable",
    desc: "Icons are designed to be properly scaled to any size without compromising the quality.",
  },
  {
    title: "Consistent Icons",
    desc: "No more dealing with inconsistent styles and designs. All icons are designed with a pre-defined set of rules.",
  },
  {
    title: "Various Versions",
    desc: "Icons come with their own set of families such as light and dark mode, wordmark, and other versions.",
  },
  {
    title: "Free & Open-Source",
    desc: "Completely free and open-source with license. No need to worry about privately hidden malicious code and be a contributor yourself.",
  },
];
---

<div class="grid grid-cols-3 gap-4">
  {
    features.map((feature) => (
      <div class="flex flex-col gap-3 bg-gradient-to-br from-zinc-800 to-[#27272a77] p-5 rounded-xl">
        <div class="p-4 bg-zinc-900 rounded-lg w-fit text-sky-500">
          {feature.title === "Highly Optimized" && <ShieldCheck />}
          {feature.title === "Customizable" && <Pickaxe />}
          {feature.title === "Perfectly Scalable" && <Scaling />}
          {feature.title === "Consistent Icons" && <Fingerprint />}
          {feature.title === "Various Versions" && <Shapes />}
          {feature.title === "Free & Open-Source" && <PackageOpen />}
        </div>
        <h3 class="text-lg font-semibold">{feature.title}</h3>
        <p class=" opacity-80">{feature.desc}</p>
      </div>
    ))
  }
</div>
